<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title,content)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">GameVault</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
    
    <nav>
        <a th:href="@{/juegos}" class="nav-brand">🎮 GameVault</a>
        <div class="nav-links">
            <a th:href="@{/juegos}">Catálogo</a>
            <a th:href="@{/juegos/nuevo}">Subir Juego</a>
            <a th:href="@{/fragments-demo}" style="color: var(--success); margin-left:20px;">[Teoría]</a>
        </div>
    </nav>

    <main class="container" th:replace="${content}">
        
    </main>

</body>
</html>
